@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  background: azure;
}
body , html{
  overflow-x: hidden !important;
}

.bs1 {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}
a{
  color: orangered !important;
}

.header {
  padding: 10px;
}

.content {
  min-height: 90vh;
}
.ant-row{
  margin: 0 20 !important;
}
p{
  margin: 5px !important;
  
  padding: 0;
}
.btn1{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
}

.bt1:focus{
  border: none;
}
button{
  padding: 3px 10px !important;
}

.header .ant-btn{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
.footer{
  background-color: aliceblue;
  padding: 10px;
}

/* Home */
.room{
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
}
.room:hover{
  height :220px;
}
.room:hover > .room-content{

    opacity: 1;
    transform : translateY(-40px)

}
.roomimg{
  height:180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}
.room-content{
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}

.roomimg2{
  height: 400px;
  border-radius: 10px;
  width: auto;
}

svg{
  height:20px !important;
  width : 20px !important;
}
.content {
  padding: 0.5em;
}